body {
    background-color: gainsboro
}   
#header {
    background-color: darkblue;
    height: 100px;
    color: white;
}

.col-xs-4 {
    height: 250px;
}

img {
    margin-top: 50px;
}

.description {
    display: block;
    height: 100px;
    margin-top: 50px;
    background-color: tomato;
    padding: 25px;
    color: white;
    border-radius: 3px;
}